@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat&display=swap');

* {
  font-family: 'Kanit', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  display: none;
}